* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8f8 !important;
  font-family: "Noto Sans JP", sans-serif !important;
}

section {
  margin: 10vh auto;
}

nav {
  background-color: gainsboro !important;
}

.confetti-box {
  padding-top: 6vh;
}

.main-title {
  padding-top: 4vh;
}
.main-title h2 strong {
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
  font-size: 1.25em;
}
.main-title h3 {
  font-size: 3.5em;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}
.main-title h3 span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 10px;
  padding-left: 8px;
}

.sect01 .dark {
  background: #0c1631;
  padding: 3vh 0;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  grid-template-columns: max-content auto;
  grid-template-rows: auto max-content;
  background-size: cover;
  color: white;
  padding: 2rem;
}
.sect01 .dark p {
  color: #f8f8f8;
  font-size: 1.25em;
  text-shadow: 0 0 20px #48c8ff;
}
.sect01 .dark #timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
  text-align: center;
}
.sect01 .dark #timer div {
  display: inline-block;
  min-width: 90px;
}
.sect01 .dark #timer div span {
  color: #b1cdf1;
  display: block;
  font-size: 0.3em;
  font-weight: 400;
}

.sect02 .heading {
  color: #0d1a29;
}
.sect02 .heading hr {
  border-top: 1px solid #d36505;
}
.sect02 .heading h2 {
  color: #d36505;
  font-size: 2em;
}
.sect02 .heading h2 span {
  color: #0d1a29;
  position: relative;
}
.sect02 .heading h2 span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #d36505 9.6%, #0d1a29 93.6%);
}
.sect02 .heading h3 {
  margin: 3vh auto;
  color: #b08407;
  line-height: 1.5em;
}
.sect02 .heading h3 span {
  color: #af0202;
}
.sect02 .heading h3 span strong {
  font-size: 1.5em;
  padding: 0 5px;
}
.sect02 .heading p.body {
  color: #0d1a29;
  line-height: 2em;
  font-size: 1em;
}
.sect02 .heading p.body span {
  font-size: 1.25em;
  font-weight: 800;
  color: #d36505;
}
.sect02 .heading p.body .title {
  color: #288ddf;
}

.sect03 .qualifications {
  color: #0d1a29;
}
.sect03 .qualifications hr {
  border-top: 1px solid #d36505;
}
.sect03 .qualifications h2 {
  color: #d36505;
  font-size: 2em;
}
.sect03 .qualifications h2 span {
  color: #0d1a29;
  position: relative;
}
.sect03 .qualifications h2 span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #d36505 9.6%, #0d1a29 93.6%);
}
.sect03 .qualifications .qualification-list ul {
  list-style: square;
  margin: 4vh 0;
}
.sect03 .qualifications .qualification-list ul li {
  line-height: 1.5em;
  font-size: 1.25em;
  color: #b08407;
}
.sect03 .qualifications .body ul li {
  font-size: 0.9em;
  line-height: 2em;
}

.sect04 .entry {
  color: #0d1a29;
}
.sect04 .entry hr {
  border-top: 1px solid #d36505;
}
.sect04 .entry h2 {
  color: #d36505;
  font-size: 2em;
}
.sect04 .entry h2 span {
  color: #0d1a29;
  position: relative;
}
.sect04 .entry h2 span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #d36505 9.6%, #0d1a29 93.6%);
}
.sect04 .entry .entry-qual ul {
  list-style: square;
  margin: 4vh 0;
}
.sect04 .entry .entry-qual ul li {
  line-height: 1.5em;
  font-size: 1.25em;
  color: #b08407;
}
.sect04 .entry .body ul li {
  font-size: 0.9em;
}

.sect05 {
  color: #0d1a29;
}
.sect05 hr {
  border-top: 1px solid #d36505;
}
.sect05 h2 {
  color: #d36505;
  font-size: 2em;
}
.sect05 h2 span {
  color: #0d1a29;
  position: relative;
}
.sect05 h2 span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #d36505 9.6%, #0d1a29 93.6%);
}
.sect05 .steps-to-enter h3 {
  font-size: 1.25em;
  color: #b08407;
  margin: 4vh auto 2vh;
  line-height: 2em;
}
.sect05 .steps-to-enter h3 span {
  font-size: 2em;
  font-weight: 100;
  color: #464646;
  padding: 0 5px;
}
.sect05 .steps-to-enter p {
  font-size: 0.9em;
  margin-top: 10px;
}
.sect05 .steps h4 {
  color: red;
  font-size: 10em;
}

.sect06 {
  color: #0d1a29;
}
.sect06 .requirements h2 {
  color: #d36505;
  font-size: 2em;
}
.sect06 .requirements h2 span {
  color: #0d1a29;
  position: relative;
}
.sect06 .requirements h2 span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #d36505 9.6%, #0d1a29 93.6%);
}
.sect06 .requirements .requirement-table h3 {
  font-size: 1.25em;
  color: #b08407;
  margin: 4vh auto 2vh;
  line-height: 2em;
}
.sect06 .requirements .requirement-table h3 span {
  font-size: 2em;
}
.sect06 .requirements .requirement-table .schedule-row,
.sect06 .requirements .requirement-table .req-row {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}
.sect06 .requirements .requirement-table .schedule-row:nth-child(odd),
.sect06 .requirements .requirement-table .req-row:nth-child(odd) {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}
.sect06 .requirements .requirement-table .schedule-row:nth-last-child(1),
.sect06 .requirements .requirement-table .req-row:nth-last-child(1) {
  border-bottom: none;
}
.sect06 .requirements .requirement-table .schedule-row .title,
.sect06 .requirements .requirement-table .req-row .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect06 .requirements .requirement-table .schedule-row .title h4,
.sect06 .requirements .requirement-table .req-row .title h4 {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}
.sect06 .requirements .requirement-table .schedule-row .text,
.sect06 .requirements .requirement-table .req-row .text {
  justify-content: center;
}
.sect06 .requirements .requirement-table .schedule-row .text p,
.sect06 .requirements .requirement-table .req-row .text p {
  line-height: 1.5em;
  margin-bottom: 0;
}
.sect06 .requirements .requirement-table .schedule-row .text p span,
.sect06 .requirements .requirement-table .req-row .text p span {
  font-size: 0.9em;
}
.sect06 .requirements .requirement-table .schedule-row .text p span strong,
.sect06 .requirements .requirement-table .req-row .text p span strong {
  color: #b90707;
  padding: 0 5px;
}

.footer {
  background-color: #d9d9d9;
  padding: 2vh 0;
}
.footer .container .links {
  text-align: center;
  margin-bottom: 2vh;
}
.footer .container .links ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.footer .container .links ul li {
  font-size: 0.7em;
  display: inline-block;
  padding-right: 10px;
  padding-left: 5px;
  border-right: 1px solid #0d1a29;
}
.footer .container .links ul li a {
  color: #0d1a29;
  text-decoration: none;
}
.footer .container .links ul li:nth-last-child(1) {
  border-right: none;
  padding-right: 0;
}
.footer .container h1 {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}
.footer .container p {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .sect06 .requirements .requirement-table h3 {
    font-size: 1.25em;
    color: #b08407;
    margin: 4vh auto 2vh;
    line-height: 2em;
  }
  .sect06 .requirements .requirement-table h3 span {
    font-size: 2em;
  }
  .sect06 .requirements .requirement-table .schedule-row,
.sect06 .requirements .requirement-table .req-row {
    border-bottom: none;
  }
  .sect06 .requirements .requirement-table .schedule-row:nth-child(odd),
.sect06 .requirements .requirement-table .req-row:nth-child(odd) {
    border-bottom: none;
  }
  .sect06 .requirements .requirement-table .schedule-row:nth-last-child(1),
.sect06 .requirements .requirement-table .req-row:nth-last-child(1) {
    border-bottom: none;
  }
  .sect06 .requirements .requirement-table .schedule-row .title,
.sect06 .requirements .requirement-table .req-row .title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #020024;
    background: linear-gradient(140deg, #020024 0%, #1560ac 62%);
  }
  .sect06 .requirements .requirement-table .schedule-row .title h4,
.sect06 .requirements .requirement-table .req-row .title h4 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
    padding: 1vh 0;
  }
  .sect06 .requirements .requirement-table .schedule-row .text,
.sect06 .requirements .requirement-table .req-row .text {
    justify-content: center;
  }
  .sect06 .requirements .requirement-table .schedule-row .text p,
.sect06 .requirements .requirement-table .req-row .text p {
    margin-bottom: 0;
  }
  .sect06 .requirements .requirement-table .schedule-row .text p span,
.sect06 .requirements .requirement-table .req-row .text p span {
    font-size: 0.9em;
  }
  .sect06 .requirements .requirement-table .schedule-row .text p span strong,
.sect06 .requirements .requirement-table .req-row .text p span strong {
    color: #b90707;
    padding: 0 5px;
  }
}

/*# sourceMappingURL=style.css.map */
